'$schema' = 'https://jj-vcs.github.io/jj/latest/config-schema.json'

[user]
name = 'Derek Passen'
email = 'dpassen1@gmail.com'

[ui]
default-command = 'log'

[revset-aliases]
standup = 'mine() & (author_date(after:"yesterday") | committer_date(after:"yesterday"))'

[templates]
git_push_bookmark = '"dpassen/" ++ change_id.short()'

[template-aliases]
'format_timestamp(timestamp)' = 'timestamp.local().format("%Y-%m-%d")'
