#:schema https://jj-vcs.dev/latest/config-schema.json

[user]
name = 'Derek Passen'
email = 'dpassen1@gmail.com'

[ui]
default-command = 'log'

[aliases]
tug = [
  'bookmark',
  'move',
  '--from',
  'closest_bookmark(@)',
  '--to',
  'closest_pushable(@)',
]

[revset-aliases]
'closest_bookmark(to)' = 'heads(::to & bookmarks() & ~trunk())'
'closest_pushable(to)' = 'heads(::to & mutable() & ~description(exact:"") & (~empty() | merges()))'
standup = 'mine() & (author_date(after:"yesterday") | committer_date(after:"yesterday"))'

[templates]
git_push_bookmark = '"dpassen/" ++ change_id.short()'

[template-aliases]
'format_timestamp(timestamp)' = 'timestamp.local().format("%Y-%m-%d")'
