[user]
  name = Derek Passen
  email = dpassen1@gmail.com

[core]
  excludesfile = ~/.gitignore

[init]
  defaultBranch = main

[pull]
  ff = only

[rerere]
  enabled = true

[diff]
  tool = difftastic

[difftool]
  prompt = false

[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"

[pager]
  difftool = true

[alias]
  st = status
  ci = commit
  co = checkout
  ln = log --pretty=format:'%C(red)%h%C(reset) -%C(yellow)%d%C(reset) %s %C(green)(%cr)%C(reset) %C(bold blue)<%an>%C(reset)'
  lg = ln --graph
  ll = ln --decorate --numstat
  scoreboard = shortlog --no-merges -sn
  sb = scoreboard
  standup = !git ln --all --since='yesterday' --author="$(git config user.email)"
  last-touched = for-each-ref --sort=authordate --format '%0a%(refname:short)%0a%(authordate:relative)' 'refs/remotes/'
  lt = last-touched
  su = standup
  dft = difftool

[github]
  user = dpassen
