{:aliases
 {:antq
  {:extra-deps
   {io.github.liquidz/antq
    {:git/tag "2.8.1194"
     :git/sha "4c60861"}}
   :exec-fn antq.tool/outdated}
  :check
  {:extra-deps
   {io.github.athos/clj-check
    {:git/tag "0.1.0"
     :git/sha "0ca84df"}}
   :main-opts ["-m" "clj-check.check"]}
  :new
  {:extra-deps
   {io.github.seancorfield/deps-new
    {:git/tag "v0.7.0"
     :git/sha "58f2c19"}}
   :exec-fn org.corfield.new/create}
  :nop
  {:extra-deps
   {org.slf4j/slf4j-nop
    {:mvn/version "2.0.13"}}}
  :splint
  {:extra-deps
   {io.github.noahtheduke/splint
    {:git/tag "v1.14.0"
     :git/sha "3919b40"}}
   :main-opts ["-m" "noahtheduke.splint"]}
  :watson
  {:extra-deps
   {io.github.clj-holmes/clj-watson
    {:git/tag "v5.1.2"
     :git/sha "ae20e1e"}}
   :exec-fn clj-watson.entrypoint/scan
   :exec-args
   {:aliases           ["*"]
    :database-strategy "dependency-check"
    :deps-edn-path     "deps.edn"
    :fail-on-result    true
    :output            "stdout"
    :suggest-fix       true}}}}
