{:aliases
 {:antq
  {:extra-deps
   {io.github.liquidz/antq
    {:git/tag "2.1.946"
     :git/sha "cf00436"}}
   :exec-fn antq.tool/outdated}
  :check
  {:extra-deps
   {io.github.athos/clj-check
    {:git/tag "0.1.0"
     :git/sha "0ca84df"}}
   :main-opts ["-m" "clj-check.check"]}
  :new
  {:extra-deps
   {io.github.seancorfield/deps-new
    {:git/tag "v0.4.13"
     :git/sha "879c4eb"}}
   :exec-fn org.corfield.new/create}
  :nop
  {:extra-deps
   {org.slf4j/slf4j-nop
    {:mvn/version "2.0.4"}}}
  :watson
  {:extra-deps
   {io.github.clj-holmes/clj-watson
    {:git/tag "v4.1.0"
     :git/sha "e3da1b6"}}
   :exec-fn clj-watson.entrypoint/scan
   :exec-args
   {:aliases           ["*"]
    :database-strategy "dependency-check"
    :deps-edn-path     "deps.edn"
    :fail-on-result    true
    :output            "stdout"
    :suggest-fix       true}}}}
