{:aliases
 {:antq
  {:extra-deps
   {com.github.liquidz/antq {:mvn/version "0.16.0"}}
   :main-opts ["-m" "antq.core"]}
  :check
  {:extra-deps
   {athos/clj-check
    {:git/url "https://github.com/athos/clj-check.git"
     :sha     "518d5a1cbfcd7c952f548e6dbfcb9a4a5faf9062"}}
   :main-opts ["-m" "clj-check.check"]}
  :new
  {:extra-deps
   {com.github.seancorfield/clj-new {:mvn/version "1.1.324"}}
   :exec-fn clj-new/create}
  :nop
  {:extra-deps
   {org.slf4j/slf4j-nop {:mvn/version "1.7.32"}}}}}
