{:aliases
 {:antq
  {:extra-deps
   {io.github.liquidz/antq
    {:git/tag "1.3.1"
     :git/sha "de79d34"}}
   :exec-fn antq.tool/outdated}
  :check
  {:extra-deps
   {io.github.athos/clj-check
    {:git/tag "0.1.0"
     :git/sha "0ca84df"}}
   :main-opts ["-m" "clj-check.check"]}
  :new
  {:extra-deps
   {io.github.seancorfield/deps-new
    {:git/tag "v0.4.6"
     :git/sha "acc1e86"}}
   :exec-fn org.corfield.new/create}
  :nop
  {:extra-deps
   {org.slf4j/slf4j-nop {:mvn/version "1.7.32"}}}
  :nvd
  {:extra-deps
   {io.github.rm-hull/nvd-clojure
    {:git/tag "1.9.0"
     :git/sha "490afd4"}}
   :exec-fn nvd.task/check}}}
